---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const pageTitle = "About me";
---
<body>
<Header />
<h1>About me</h1>

<p>My name is Daniil.</p>
<p>Here are my skills: </p>
<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Tailwind</li>
    <li>Astro</li>
</ul>
<Footer />
  <script>
    import "../scripts/menu.js";
  </script>
</body>