---
import ContentLayout from "../layouts/ContentLayout.astro";
import Layout from "../layouts/Layout.astro";
const pageTitle = "About me";
---

<Layout pageTitle={pageTitle}>
  <ContentLayout>
  <p>My name is Daniil Espenstein, and I create web-sites.</p>
  <p class="mt-3">My tools are:</p>
  <ul class="text-center text-indigo-900">
    <li>HTML</li>
    <li>CSS</li>
    <li>JS</li>
    <li>Tailwind</li>
    <li>Astro</li>
    <li>Netlify</li>
  </ul>
  <p class="mt-3">And this is a picture of a dragon:</p>
  <a href="https://ibb.co/XgXm4Hq">
    <img src="https://i.ibb.co/QR9sc04/dragon.jpg" 
    alt="dragon" border-0>
  </a>
  </ContentLayout>
</Layout>
