---
import ContentLayout from "../layouts/ContentLayout.astro";
import Layout from "../layouts/Layout.astro";
import YT from "../components/YT.astro";
const pageTitle = "Hello! Welcome to my site";
---

<Layout pageTitle={pageTitle}>
	<ContentLayout hasVideo={true}>
		<p class="flex justify-center">Welcome to my site!</p>
		<YT videoID="dQw4w9WgXcQ?si=PuNXhkj3UIyg_tmM" />
		<div class="for-mail flex-col text-center">
			Contact me directly via <span class="email ml-2 text-indigo-900"> 
				daniil.espenstein@gmail.com</span>, or via this button below:
			<p class="flex "></p>
		<form
			class="form mx-auto place-content-center"
			action="mailto:daniil.espenstein@gmail.com"
			enctype="text/plain"		>
			<button class="bg-amber-50 rounded-2xl mt-4 p-5" type="submit">Send me a letter</button>
		</form>
		</div>
	</ContentLayout>
</Layout>
