---
import ContentLayout from "../layouts/ContentLayout.astro";
import Layout from "../layouts/Layout.astro";
import YT from "../components/YT.astro";
const pageTitle = "Hello! Welcome to my site";
---

<Layout pageTitle={pageTitle}>
	<ContentLayout hasVideo={true}>
		<p class="flex justify-center">Welcome to my site!</p>
		<YT videoID="dQw4w9WgXcQ?si=PuNXhkj3UIyg_tmM" />
		<div class="for-mail flex-col text-center">
			Contact me directly via <span class="email ml-2 text-indigo-900"> 
				daniil.espenstein@gmail.com</span>, or fill out this form below:
			<p class="flex "></p>
		<form
			class="form mx-auto place-content-center"
			action="mailto:daniil.espenstein@gmail.com"
			enctype="text/plain"
		>
			<div class="form-inner">
				<label for="message">Enter your message: </label>
				<input type="text" name="name" id="name" required />
			</div>
			<button class="" type="submit">Send</button>
		</form>
		</div>
	</ContentLayout>
</Layout>
