---
import Social from "../components/Social.astro";
---
<footer>
    <div class="footer flex gap-[3rem] mt-[2rem]">
        <Social platform="github" username="dspnstn" />
        <Social platform="telegram" username="daniilespenstein" /> 
        <!-- TODO FIX telegram link -->
    </div>
</footer>