---
import Social from "../components/Social.astro";
---
<footer>
    <div class="footer mb-3 mt-8 gap-9 p-3
    bg-gray-400 opacity-90
    flex flex-row grow-3 justify-around
    sticky">
        <Social platform="github" username="dspnstn" />
        <Social platform="telegram" username="daniilespenstein" /> 
        <!-- TODO FIX telegram link -->
    </div>
</footer>