---
import Social from "../components/Social.astro";
import "../styles/global.css";
---

<footer>
    <div>
        <Social platform="github" username="dspnstn" />
        <Social platform="github" username="dspnstn" />
        <Social platform="github" username="dspnstn" />
        <Social platform="github" username="dspnstn" />
        <Social platform="github" username="dspnstn" />
        <Social platform="github" username="dspnstn" />
        <Social platform="github" username="dspnstn" />
        <Social platform="github" username="dspnstn" />
        <Social platform="github" username="dspnstn" />
        <Social platform="telegram" username="daniilespenstein" /> 
        <!-- TODO FIX telegram link -->
    </div>
</footer>