---
import Social from "../components/Social.astro";
---
<footer>
    <div class="footer mb-0 gap-[3rem] mt-[2rem] 
    flex flex-wrap flex-row place-content-center 
    sticky">
        <Social platform="github" username="dspnstn" />
        <Social platform="telegram" username="daniilespenstein" /> 
        <!-- TODO FIX telegram link -->
    </div>
</footer>