---
import Social from "../components/Social.astro";
---
<footer>
    <div>
        <Social platform="github" username="dspnstn" />
        <Social platform="github" username="dspnstn" />
        <Social platform="github" username="dspnstn" />
        <Social platform="github" username="dspnstn" />
        <Social platform="github" username="dspnstn" />
        <Social platform="github" username="dspnstn" />
        <Social platform="github" username="dspnstn" />
        <Social platform="github" username="dspnstn" />
        <Social platform="github" username="dspnstn" />
        <Social platform="telegram" username="daniilespenstein" /> 
        <!-- TODO FIX telegram link -->
    </div>
</footer>