---
import Hamburger from "./Hamburger.astro";
---
<header class="header mt-0 
sticky bg-amber-50  opacity-90 text-indigo-500 font-bold">
    <nav>
        <Hamburger />
        <div class="nav-links hidden md:flex flex-wrap flex-row m-2 justify-between">
            <a href="/">Home</a>
            <a href="/about">About</a>
        </div>
    </nav>
</header>