---
---
<header class="fixed top-0 left-0 right-0
bg-amber-50  opacity-90 text-indigo-500 font-bold">
    <nav>
        <div class="flex flex-wrap flex-row m-2 justify-between">
            <a href="/">Home</a>
            <a href="/about">About</a>
        </div>
    </nav>
</header>