---
const { platform, username } = Astro.props;
---
<a class="border-r-2 rounded-xl p-[0.5rem] text-white bg-green-300 text-xl no-underline" href={`https://www.${platform}.com/${username}`}>{platform}</a>
