---
const { platform, username } = Astro.props;
---
<a class="border-r-2 rounded-xl p-1 text-white bg-violet-400 text-xl no-underline" href={`https://www.${platform}.com/${username}`}>{platform}</a>

