---
const { videoID } = Astro.props;
---

<div class="YT-container relative pb-[56.25%] h-0 overflow-hidden md:pb-[75%] lg:pb-[56.25%]">
    <iframe class="absolute top-0 left-0 w-full h-full"
      src={`https://www.youtube.com/embed/${videoID}`}
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
