---
import "../styles/global.css";
const { hasVideo = false } = Astro.props;
---
<div class={`content p-2 ${hasVideo ? "" : "flex flex-col justify-center items-center"}`}>
    <div class="mt-12"><slot /></div>
</div>
