---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="text-[1.5rem] font-sans min-h-[100vh]
    bg-radial-[at_50%_75%] from-sky-200 via-blue-400 to-indigo-500 to-90%
    flex flex-col">
		<Header />
        <slot class="slot flex justify-center grow
        p-[8px] border-b-2 border-s-black" />
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
